In [1]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2023-10-03 08:37:19--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1,4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1,41M  3,57MB/s    in 0,4s

2023-10-03 08:37:19 (3,57 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [21]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv('data.csv')
df.head().T

,0,1,2,3,4
Make,BMW,BMW,BMW,BMW,BMW
Model,1 Series M,1 Series,1 Series,1 Series,1 Series
Year,2011,2011,2011,2011,2011
Engine Fuel Type,premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required)
Engine HP,335.0,300.0,300.0,230.0,230.0
Engine Cylinders,6.0,6.0,6.0,6.0,6.0
Transmission Type,MANUAL,MANUAL,MANUAL,MANUAL,MANUAL
Driven_Wheels,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive
Number of Doors,2.0,2.0,2.0,2.0,2.0
Market Category,"Factory Tuner,Luxury,High-Performance","Luxury,Performance","Luxury,High-Performance","Luxury,Performance",Luxury
Vehicle Size,Compact,Compact,Compact,Compact,Compact
Vehicle Style,Coupe,Convertible,Coupe,Coupe,Convertible
highway MPG,26,28,28,28,28
city mpg,19,19,20,18,18
Popularity,3916,3916,3916,3916,3916
MSRP,46135,40650,36350,29450,34500

In [23]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [24]:
columns = ['make', 'model', 'year', 'engine_hp', 'engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg', 'msrp']
df_main = df[columns]

In [18]:
df_main

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [25]:
df_main = df_main.fillna(0)
df_main.rename(columns = {'msrp':'price'}, inplace = True)
df_main

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

#### Question 1
What is the most frequent observation (mode) for the column transmission_type?
- AUTOMATIC
- MANUAL
- AUTOMATED_MANUAL
-DIRECT_DRIVE

In [28]:
df_main.transmission_type.value_counts()

AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: transmission_type, dtype: int64

Question 1 answer: AUTOMATIC

#### Question 2
Create the correlation matrix for the numerical features of your dataset.\
In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.\

What are the two features that have the biggest correlation in this dataset?
- engine_hp and year
- engine_hp and engine_cylinders
- highway_mpg and engine_cylinders
- highway_mpg and city_mpg

In [30]:
numerical_features = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg', 'price']
correlation_matrix = df_main[numerical_features].corr()
correlation_matrix

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

Question 2 answer: highway_mpg and city_mpg

#### Make price binary
    Now we need to turn the price variable from numeric into a binary format.
    Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.
    
#### Split the data
    Split your data in train/val/test sets with 60%/20%/20% distribution.
    Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
    Make sure that the target value (above_average) is not in your dataframe.

In [31]:
mean_price = df_main['price'].mean()
mean_price

40594.737032063116

In [33]:
df_main['above_average'] = (df_main['price'] > mean_price).astype(int)
df_main.head(3)

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0

In [35]:
from sklearn.model_selection import train_test_split
df_work = df_main.drop('price', axis=1)
df_work

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,0
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,0

In [41]:
df_train_full, df_test = train_test_split(df_work, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

In [42]:
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [43]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [44]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

#### Question 3
Calculate the mutual information score between above_average and other categorical variables in our dataset.\
Use the training set only.\
Round the scores to 2 decimals using round(score, 2).

Which of these variables has the lowest mutual information score?
- make
- model
- transmission_type
- vehicle_style

In [45]:
from sklearn.metrics import mutual_info_score

In [46]:
categorical = ['make', 'model', 'transmission_type', 'vehicle_style']
def mutual_info_churn_score(series):
    return mutual_info_score(series, df_train.above_average)

In [48]:
mi = df_train[categorical].apply(mutual_info_churn_score)
mi.sort_values(ascending=False)

model                0.462344
make                 0.239769
vehicle_style        0.084143
transmission_type    0.020958
dtype: float64

Question 3 answer: transmission_type

In [49]:
df_train = df_train.drop('above_average', axis=1)
df_val = df_val.drop('above_average', axis=1)
df_test = df_test.drop('above_average', axis=1)

#### Question 4
Now let's train a logistic regression.\
Remember that we have several categorical variables in the dataset.\
Include them using one-hot encoding.\
Fit the model on the training dataset.\
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:\
        model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)\
    Calculate the accuracy on the validation dataset and round it to 2 decimal digits.\

What accuracy did you get?
- 0.60
- 0.72
- 0.84
- 0.95

In [51]:
numerical = ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

In [54]:
df_train[categorical+numerical]

,make,model,transmission_type,vehicle_style,year,engine_hp,engine_cylinders,highway_mpg,city_mpg
0,Mitsubishi,Endeavor,AUTOMATIC,4dr SUV,2011,225.0,6.0,19,15
1,Kia,Borrego,AUTOMATIC,4dr SUV,2009,276.0,6.0,21,17
2,Lamborghini,Gallardo,MANUAL,Convertible,2012,570.0,10.0,20,12
3,Chevrolet,Colorado,AUTOMATIC,Crew Cab Pickup,2016,200.0,4.0,27,20
4,Pontiac,Vibe,AUTOMATIC,4dr Hatchback,2009,158.0,4.0,26,20
...,...,...,...,...,...,...,...,...,...
7143,Toyota,Sienna,AUTOMATIC,Passenger Minivan,2016,266.0,6.0,25,18
7144,Chevrolet,HHR,MANUAL,Wagon,2009,260.0,4.0,29,21
7145,Hyundai,Veracruz,AUTOMATIC,4dr SUV,2012,260.0,6.0,22,17
7146,Mitsubishi,Expo,MANUAL,2dr Hatchback,1993,136.0,4.0,26,19
7147,Ford,Taurus,AUTOMATIC,Sedan,2015,365.0,6.0,25,17

In [87]:
train_dict = df_train[categorical+numerical].to_dict(orient='records')

In [88]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

In [89]:
dv.fit(train_dict)
X_train = dv.transform(train_dict)
X_train

array([[1.500e+01, 6.000e+00, 2.250e+02, ..., 0.000e+00, 0.000e+00,
        2.011e+03],
       [1.700e+01, 6.000e+00, 2.760e+02, ..., 0.000e+00, 0.000e+00,
        2.009e+03],
       [1.200e+01, 1.000e+01, 5.700e+02, ..., 0.000e+00, 0.000e+00,
        2.012e+03],
       ...,
       [1.700e+01, 6.000e+00, 2.600e+02, ..., 0.000e+00, 0.000e+00,
        2.012e+03],
       [1.900e+01, 4.000e+00, 1.360e+02, ..., 0.000e+00, 0.000e+00,
        1.993e+03],
       [1.700e+01, 6.000e+00, 3.650e+02, ..., 1.000e+00, 0.000e+00,
        2.015e+03]])

In [90]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [91]:
model = LogisticRegression(solver="liblinear", C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [92]:
val_dict = df_val[categorical+numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)
y_pred = model.predict(X_val)

In [93]:
round(accuracy_score(y_val, y_pred), 2)

0.94

Question 4 answer: 0.95

#### Question 5

  Let's find the least useful feature using the feature elimination technique.\
  Train a model with all these features (using the same parameters as in Q4).\
  Now exclude each feature from this set and train a model without it. Record the accuracy for each model.\
  For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?
- year
- engine_hp
- transmission_type
- city_mpg

In [94]:
all_features = categorical + numerical
all_features

['make',
 'model',
 'transmission_type',
 'vehicle_style',
 'year',
 'engine_hp',
 'engine_cylinders',
 'highway_mpg',
 'city_mpg']

In [95]:
original_score = round(accuracy_score(y_val, y_pred), 2)
original_score

0.94

In [96]:
for f in all_features:
    set = all_features.copy()
    set.remove(f)
    
    train_dict = df_train[set].to_dict(orient='records')
    
    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)
    
    X_train = dv.transform(train_dict)
    
    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    
    val_dict = df_val[set].to_dict(orient='records')
    X_val = dv.transform(val_dict)
    
    y_pred = model.predict(X_val)

    score = accuracy_score(y_val, y_pred)
    print(f"{f}\t\t{original_score - score}\t\t{score}")

make		-0.0041879983214435645		0.9441879983214435
model		0.023927822073017135		0.9160721779269828
transmission_type		-0.006705832983634141		0.9467058329836341
vehicle_style		0.0037851447754930767		0.9362148552245069
year		-0.007125472093999163		0.9471254720939991
engine_hp		0.015954678976080494		0.9240453210239195
engine_cylinders		-0.007125472093999163		0.9471254720939991
highway_mpg		-0.0012505245488879657		0.9412505245488879
city_mpg		0.007561896768778831		0.9324381032312211

Question 5 answer: year

#### Question 6

    For this question, we'll see how to use a linear regression model from Scikit-Learn.
    We'll need to use the original column price. Apply the logarithmic transformation to this column.
    Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42.
    This model also has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10].
    Round your RMSE scores to 3 decimal digits.

Which of these alphas leads to the best RMSE on the validation set?

    0
    0.01
    0.1
    1
    10

In [100]:
df_q6 = df_main.copy()
del df_q6['above_average']
df_q6

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [102]:
df_q6['price']=np.log1p(df_q6['price'])
df_q6

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,2.462946
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,2.452106
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,2.442432
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,2.423960
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,2.437880
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,2.462919
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,2.480314
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,2.470818
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,2.471317
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,2.422580

In [103]:
df_train_full, df_test = train_test_split(df_q6, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [104]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [105]:
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values
len(y_train), len(y_val), len(y_test)

(7148, 2383, 2383)

In [106]:
del df_train["price"]
del df_val["price"]
del df_test["price"]

In [108]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [109]:
train_dict = df_train[categorical + numerical].to_dict(orient='records')
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [110]:
X_train = dv.transform(train_dict)
val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [112]:
for alpha in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=alpha, solver="sag", random_state=42)
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_val)
    
    score = np.sqrt(mean_squared_error(y_val, y_pred))
    
    print(alpha, round(score, 3))

/Users/acoshi/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0 0.047

/Users/acoshi/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.01 0.047

/Users/acoshi/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.1 0.047

/Users/acoshi/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

1 0.047
10 0.047

/Users/acoshi/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(